.contact-section-one,
.contact-section-two {
  display: flex;
  padding: 130px 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  gap: 30px;
  padding-top: 0px;
}

.contact-section-one {
  padding-top: 130px;
}

.contact-section-one > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 350px;
  gap: 20px;
}

.contact-section-one > div > div {
  background-color: var(--primary-red);
  width: 80px;
  color: white;
  font-size: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contact-form input::placeholder {
  font-size: 13px;
  font-weight: 700;
}

.contact-section-one .h3 {
  font-size: 22px;
  color: #222244;
}

.contact-section-one .h5 {
  color: #9a9b9c;
  font-weight: 400;
  font-size: 16px;
  width: 65%;
  margin: 0px auto;
}

.contact-section-two {
  flex-direction: column;
  gap: 20px;
  padding: 130px 120px;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  /* background-color: ; */
  align-items: flex-start;
  justify-content: center;
  grid-template-areas:
    'header header2 header3'
    'textarea textarea textarea'
    '. button .';
}

.contact-form div {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 20px;
}

.contact-form > div:nth-child(1) {
  grid-area: header;
}

.contact-form > div:nth-child(2) {
  grid-area: header2;
}

.contact-form > div:nth-child(3) {
  grid-area: header3;
}

.contact-form textarea {
  grid-area: textarea;
  height: 350px;
  align-self: flex-start;
}

.contact-form textarea::placeholder {
  font-size: 15px;
  font-weight: 700;
}

.contact-form button {
  grid-area: button;
}

.contact-form input {
  height: 100%;
}

.contact-form > div,
.contact-form input,
.contact-form textarea {
  background-color: #f0f0f0;
  border: none;
  color: black;
  outline: none;
}

.contact-form textarea {
  padding: 20px;
}

@media (max-width: 600px) {
  .contact-section-one,
  .contact-section-two {
    flex-direction: column;
    padding: 100px 20px;
  }

  .contact-section-two {
    padding-top: 0px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-form > div {
    width: 100%;
    height: 60px;
  }

  .contact-form textarea {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 920px) and (min-width: 601px) {
  .contact-section-one {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'header header header1 header1'
      '. footer footer .';
    padding: 80px 30px;
  }

  .contact-section-one > div:nth-child(1) {
    grid-area: header;
  }

  .contact-section-one > div:nth-child(2) {
    grid-area: header1;
  }

  .contact-section-one > div:nth-child(3) {
    grid-area: footer;
  }

  .contact-section-two {
    padding: 80px 30px;
  }

  .contact-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'header header header1 header1'
      'main main main main'
      'textarea textarea textarea textarea'
      '. . button button';
  }

  .contact-form >div {
    height: 70px;
  }

  .contact-form > div:nth-child(1) {
    grid-area: header;
  }

  .contact-form > div:nth-child(2) {
    grid-area: header1;
  }

  .contact-form > div:nth-child(3) {
    grid-area: main;
  }

  .contact-form textarea {
    grid-area: textarea;
  }

  .contact-form button {
    grid-area: button;
  }
}
