.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
}

.wrapperClose {
  pointer-events: none;
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  transition: opacity 500ms;
  opacity: 0.8;
}

.backdrop.backdropClose {
  opacity: 0;
}

.container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60%;
  min-width: 300px;
  background: #eaeaea;
  z-index: 12;
  padding-top: 2em;
  /* display: none;  */
  transition: 320ms;
}
.containerClose {
  transform: translate(100%);
}

.close {
  /* width: 20px;
  height: 20px; */
  background: transparent;
  color: #000;
  /* margin-left: 20px;/ */
}
.links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.link {
  padding: 0.6em;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
}
.link p {
  transition: 150ms;
}
.link:hover p {
  transform: translate(10px);
}

.buttonSet {
  margin-top: 2em;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: none;
  }
}
