.container {
  display: flex;
  gap: 10px;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
.icon {
  --size: 60px;
  height: var(--size);
  width: var(--size);
  min-height: var(--size);
  min-width: var(--size);
  border-radius: 99999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 1.4rem;
}
.body {
  color: #333;
  line-height: 1.7em;
  font-size: 0.9rem;
  margin: 10px 0;
}

.link {
  font-size: 0.9rem;
}
